<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <h5 class="card-header">Mike Jefferson</h5>
      <div class="card-body">
        Email:<p class="card-text text-muted">mike@jefferson.com</p>
        Telefone:<p class="card-text text-muted">949004900</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Texto</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Digite seu texto...">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3 mt-3">
      <div class="card-header">Mike Jefferson</div>
      <div class="card-body">
        <small class="text-muted">27/09/2020 - 15:33</small>
        <p class="card-text">Duis commodo condimentum justo, a finibus metus accumsan ut. Quisque a erat et libero molestie commodo.
          Aenean efficitur sem sed pretium feugiat. Nunc posuere, lacus et tristique aliquam, metus risus bibendum elit,
          eu blandit tellus massa a elit. Cras ornare massa eu dui tristique congue. Sed placerat semper est sed interdum.
          Pellentesque libero augue, efficitur in sapien at, viverra maximus nisi. Vestibulum interdum laoreet ipsum
          vitae feugiat. Mauris feugiat euismod nisl, nec feugiat lacus gravida a. Cras eros augue, suscipit at
          condimentum ac, tempus ut metus.</p>
      </div>
    </div>
  </div>
</div>
